:root {

	/*  shared     */

  --font-size-large: 1.3em;
  --font-size-normal: 0.9em;
  --font-size-small: 0.7em;
   --divider-color: #2a2a2a;





	/*   dark theme     */

	--background-color-dark-theme: #1f1f1f;
	--font-color-dark-theme:#fff;





	/*   light theme     */

	--background-color-light-theme: #f5f5f5;
	--font-color-light-theme:#000;


}

html {
	scroll-behavior: smooth;
}

* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
	background-color: var(--background-color-dark-theme);
	color: var(--font-color-dark-theme);
	font-size: var(--font-size-large);
	font-family: 'Sedgwick Ave', cursive;

}
a {
	text-decoration: none;
	color: var(--font-color-dark-theme);;
}

a:visited {
	color: var(--font-color-dark-theme);;

}

.hidden-btn {
display: none;
font-size: 2em;
position: fixed;
bottom: 0;
right: 15px;
cursor: pointer;

}


