#main {
	padding-top: 20%;
	padding-bottom: 20%;
	padding-right: 10%;
	padding-left: 10%;
	text-align: center;

}

.links {

		padding-top: 30px;
		word-spacing: 15px;
		font-size: var(--font-size-large);

}



